/* ===========================
Mobile
=========================== */

@media (max-width:991px){

.hero-section{

text-align:center;

padding-top:120px;

}

.hero-title{

font-size:55px;

}

.hero-role{

font-size:24px;

}

.hero-description{

margin:auto;

}

.hero-buttons{

justify-content:center;

}

.hero-social{

justify-content:center;

}

.hero-image{

width:320px;

margin-top:50px;

}

.section-title{

font-size:34px;

}

.footer-social{

justify-content:center;

margin-top:20px;

}

.navbar-collapse{

background:#0F172A;

padding:20px;

border-radius:15px;

margin-top:15px;

}

}

@media(max-width:768px){

.hero-title{

font-size:45px;

}

.section-title{

font-size:30px;

}

.profile-image{

width:280px;

}

.project-buttons{

flex-direction:column;

}

.hero-buttons{

flex-direction:column;

}

.btn{

width:100%;

}

}

@media(max-width:576px){

.hero-title{

font-size:36px;

}

.hero-role{

font-size:20px;

}

.hero-description{

font-size:16px;

}

.section-title{

font-size:28px;

}

}